.tasks .inline-title {
    font-size: 20px;
}

.tasks .metadata-container {
    display: none !important;
}

.tasks .task-list-item-checkbox {
    width: 16px;
    height: 16px;
}

.tasks .task-list-item.plugin-tasks-list-item {
    font-size: 16px;
}

.tasks .iconize-title-icon {
    display: none !important;
}